[defaults]
inventory             = inventory/hosts.ini
vault_password_file   = ~/.vault_pass.txt
collections_paths     = ./collections:~/.ansible/collections:/usr/share/ansible/collections
forks                 = 5
pipelining            = True
deprecation_warnings  = False
command_warnings      = False
system_warnings       = False
interpreter_python    = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PubkeyAcceptedAlgorithms=+ssh-rsa

[privilege_escalation]
become        = True
become_method = sudo
