[org/mate/desktop/interface]
gtk-theme='{{ mate_gtk_theme }}'
icon-theme='{{ mate_icon_theme }}'
monospace-font-name='{{ mate_monospace_font }}'

[org/mate/terminal/profiles/default]
use-system-font=true

[org/mate/marco/general]
theme='{{ mate_marco_theme }}'
compositing-manager={{ mate_compositing_enabled | lower }}
num-workspaces=1
