[Unit]
Description=TigerVNC server for stationctl (display :%i)
After=network.target syslog.target

[Service]
Type=forking
User={{ vm_enduser_name }}
WorkingDirectory=/home/{{ vm_enduser_name }}
PIDFile=/home/{{ vm_enduser_name }}/.vnc/%H:%i.pid
ExecStartPre=-/usr/bin/vncserver -kill :%i > /dev/null 2>&1
ExecStart=/usr/bin/vncserver :%i -geometry {{ vnc_geometry }} -depth {{ vnc_depth }} -localhost no
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
